<body>
    <div class="barralateral">
        <div class="logo">
            <img src="../../../assets/Logo.png">
        </div>
        <div class="navegacao">
            <div class="navegar">
                <button>Abrir Monitoria</button>
                <button>Monitorias Abertas</button>
            </div>
            <div class="perfil">
                <button>Configurações</button>
                <button>Perfil</button>
            </div>
        </div>
    </div>
    <main>
        <div class="aviso1">
            <div class="titulo">
                <h2>Aviso 1</h2>
            </div>
            <div class="paragrafo">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis vitae quo quidem magni nulla ipsa
                    ullam
                    neque nostrum, vero, quae animi velit, amet voluptatum nisi possimus fugiat natus eum sapiente.</p>
            </div>
        </div>
        <div class="aviso2">
            <div class="titulo">
                <h2>Aviso 2</h2>
            </div>
            <div class="paragrafo">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis vitae quo quidem magni nulla ipsa
                    ullam
                    neque nostrum, vero, quae animi velit, amet voluptatum nisi possimus fugiat natus eum sapiente.</p>
            </div>
        </div>
        <div class="aviso3">
            <div class="titulo">
                <h2>Aviso 3</h2>
            </div>
            <div class="paragrafo">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis vitae quo quidem magni nulla ipsa
                    ullam
                    neque nostrum, vero, quae animi velit, amet voluptatum nisi possimus fugiat natus eum sapiente.</p>
            </div>
        </div>
        <div class="aviso4">
            <div class="titulo">
                <h2>Aviso 4</h2>
            </div>
            <div class="paragrafo">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis vitae quo quidem magni nulla ipsa
                    ullam
                    neque nostrum, vero, quae animi velit, amet voluptatum nisi possimus fugiat natus eum sapiente.</p>
            </div>
        </div>
        <div class="aviso5">
            <div class="titulo">
                <h2>Aviso 5</h2>
            </div>
            <div class="paragrafo">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis vitae quo quidem magni nulla ipsa
                    ullam
                    neque nostrum, vero, quae animi velit, amet voluptatum nisi possimus fugiat natus eum sapiente.</p>
            </div>
        </div>
        <div class="aviso6">
            <div class="titulo">
                <h2>Aviso 6</h2>
            </div>
            <div class="paragrafo">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis vitae quo quidem magni nulla ipsa
                    ullam
                    neque nostrum, vero, quae animi velit, amet voluptatum nisi possimus fugiat natus eum sapiente.</p>
            </div>
        </div>
    </main>
</body>