<app-professor-layout>
    <div class="container">
        <div class="candidato-info">
            <div class="foto-perfil">
                <img src="{{candidato?.fotoPerfil}}" alt="">
            </div>
            <ul>
                <li>Nome: {{candidato?.nome}}</li>
                <li>Email: {{candidato?.email}}</li>
                <li>Curso: {{candidato?.curso | curso}}</li>
                <li>Data da Solicitação: {{candidato?.dataSolicitacao | date: "dd/MM/yyyy"}}</li>
                <li>Status: {{candidato?.statusCandidatura | status}}</li>
            </ul>
        </div>
        <div class="historico-escolar">
            <button>Histórico Escolar</button>
        </div>
        <div class="avaliar">
            <button class="aprovar">Aprovar</button>
            <button class="recusar">Recusar</button>
        </div>
    </div>
</app-professor-layout>

<!-- <div>
    <h1>{{candidato?.nome}}</h1>
    <h1>{{candidato?.email}}</h1>
    <h1>{{candidato?.curso}}</h1>
    <img src="{{candidato?.fotoPerfil}}" alt="">
    <h1>{{candidato?.idHistoricoEscolar}}</h1>
    <h1>{{candidato?.dataSolicitacao}}</h1>
    <h1>{{candidato?.statusCandidatura}}</h1>
</div> -->