<app-professor-layout>
    <div class="container">
        <div class="apagar">
            @if (monitoria?.status === "DISPONIVEL") {
                <button (click)="confirmDelete()">Cancelar Monitoria</button>
            }
        </div>
        <div class="monitoria-info">
            <div class="title">
                <h2>{{monitoria?.disciplina?.toUpperCase()}}</h2>
            </div>
            <ul>
                <li>Professor: {{monitoria?.professorNome}}</li>
                <li>Curso: {{monitoria?.curso | curso}}</li>
                <li>Semestre: {{monitoria?.semestre}}</li>
                <li>Status: {{monitoria?.status| status}}</li>
                <li>Data do Cadastro: {{monitoria?.dataCadastro| date: 'dd/MM/yyyy'}}</li>
                <li>Última Atualização: {{monitoria?.ultimaAtualizacao | date: 'dd/MM/yyyy'}}</li>
            </ul>
        </div>
        <div class="candidatos">
            <button (click)="handleConsultarCandidatosRedirect(monitoria?.id)">Consultar Candidatos</button>
        </div>
    </div>
</app-professor-layout>