<div class="form-select">
    <label>Curso</label>
    <select class="select-cursos" [value]="value" (change)="onSelect($event)">
        <option value="">Selecione</option>
        <option value="ENGENHARIA_DA_COMPUTACAO">Engenharia da Computação</option>
        <option value="ENGENHARIA_CIVIL">Engenharia Civil</option>
        <option value="ENGENHARIA_DE_CONTROLE_E_AUTOMACAO">Engenharia de Controle e Automação</option>
        <option value="ENGENHARIA_ELETRICA_ELETRONICA">Engenharia Elétrica Eletrônica</option>
        <option value="ENGENHARIA_ELETRICA_ELETROTECNICA">Engenharia Elétrica Eletrotécnica</option>
        <option value="ENGENHARIA_ELETRICA_TELECOMUNICACAO">Engenharia Elétrica de Telecomunicações</option>
        <option value="ENGENHARIA_MECANICA">Engenharia Mecânica</option>
        <option value="FISICA_DE_MATERIAIS">Física de Materiais</option>
    </select>
</div>
