
.card {
    height: 35vh;
    width: 20vw;
    border-radius: 5px;
    background-color: rgb(248, 233, 233);
    border: 5px solid #99baf8;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 70px;
}

.dados {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.confirmar {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start; 
}

.abrir {
    height: 50%;
    width: 45%;
    background-color: #f3eae8;
    border: 3px solid #99baf8;
    border-radius: 35px;
}

::ng-deep main {
    justify-content: center;
    align-items: center;
}