<app-professor-layout>
        <div class="card">
            <div class="dados">
                <form [formGroup]="abrirMonitoriaForm">
                    <app-abrir-monitoria-input formControlName="disciplina" titleName="Disciplina" formName="disciplina"
                        placeholder="Engenharia de Software"></app-abrir-monitoria-input>
    
                    <app-abrir-monitoria-input formControlName="semestre" titleName="Semestre" formName="semestre"
                        placeholder="2024.2"></app-abrir-monitoria-input>
                </form>
            </div>
            <div class="confirmar">
                <button [disabled]="!abrirMonitoriaForm.valid" (click)="abrirMonitoria()" class="abrir">Abrir Monitoria</button>
            </div>
        </div>
</app-professor-layout>