<body>
    <div class="barralateral">
        <div class="logo">
            <img src="../../../assets/Logo.png">
        </div>
        <div class="navegacao">
            <div class="navegar">
                <button (click)="handleAlunoRedirect()">Início</button>
            </div>
            <div class="perfil">
                <button>Configurações</button>
                <button>Perfil</button>
            </div>
        </div>
    </div>
    <main>
        <div class="card-container">
            @for (monitoria of monitorias$ | paginate: { itemsPerPage: 12, currentPage: paginaAtual, totalItems: totalElements }; track monitoria) {
                <div class="card">
                    <ul>
                        <li><strong>{{monitoria.disciplina.toUpperCase()}}</strong></li>
                        <li>Professor: {{ monitoria.professorNome }}</li>
                        <li>Curso: {{ monitoria.curso | curso }}</li>
                        <li>Semestre: {{ monitoria.semestre }}</li>
                        <li>Status: {{ monitoria.status | status}}</li>
                    </ul>
                    <button (click)="handleCandidatarRedirect(monitoria)" class="candidatar">Candidatar</button>
                </div>
                }
        </div>
        <div class="paginacao">
            <pagination-controls (pageChange)="pageChange($event)" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
        </div>
    </main>
</body>