<app-aluno-layout>
    <div class="container">
        <div class="monitoria-info">
            <div class="title">
                <h2>{{monitoria?.monitoriaId?.disciplina}}</h2>
            </div>
            <ul>
                <li>Professor: {{monitoria?.monitoriaId?.professor}}</li>
                <li>Curso: {{monitoria?.monitoriaId?.curso | curso}}</li>
                <li>Semestre: {{monitoria?.monitoriaId?.semestre}}</li>
                <li>Data da Solicitação: {{monitoria?.dataSolicitacao | date: 'dd/MM/yyyy'}}</li>
                <li>Status: {{monitoria?.statusCandidatura | status}}</li>
                <li>Última Atualização: {{monitoria?.monitoriaId?.ultimaAtualizacao | date: 'dd/MM/yyyy'}}</li>
            </ul>
        </div>
    </div>
</app-aluno-layout>