
.container {
    height: 45vh;
    width: 29vw;
    border-radius: 5px;
    background-color: rgb(248, 233, 233);
    border: 5px solid #99baf8;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.monitoria-info {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    ul, li {
        text-decoration: none;
        color: white;
        list-style: none;
        color: black;
        padding: 2px;
    }
}

.title {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

::ng-deep main {
    justify-content: center;
    align-items: center;
}