<body>
    <div class="barralateral">
        <div class="logo">
            <img src="../../../assets/Logo.png">
        </div>
        <div class="navegacao">
            <div class="navegar">
                <button (click)="handleAlunoRedirect()">Início</button>
            </div>
            <div class="perfil">
                <button>Configurações</button>
                <button>Perfil</button>
            </div>
        </div>
    </div>
    <main>
        <div class="container">
            <div class="monitoria-info">
                <div class="title">
                    <h2>{{monitoria?.monitoriaId?.disciplina}}</h2>
                </div>
                <ul>
                    <li>Professor: {{monitoria?.monitoriaId?.professor}}</li>
                    <li>Curso: {{monitoria?.monitoriaId?.curso | curso}}</li>
                    <li>Semestre: {{monitoria?.monitoriaId?.semestre}}</li>
                    <li>Data da Solicitação: {{monitoria?.dataSolicitacao | date: 'dd/MM/yyyy'}}</li>
                    <li>Status: {{monitoria?.statusCandidatura | status}}</li>
                    <li>Última Atualização: {{monitoria?.monitoriaId?.ultimaAtualizacao | date: 'dd/MM/yyyy'}}</li>
                </ul>

            </div>
            
        </div>
    </main>
</body>
