<app-aluno-layout>
    <div class="aviso">
        <div class="titulo">
            <h2>Aviso 1</h2>
        </div>
        <div class="paragrafo">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis vitae quo quidem magni nulla ipsa
                ullam
                neque nostrum, vero, quae animi velit, amet voluptatum nisi possimus fugiat natus eum sapiente.</p>
        </div>
    </div>
    <div class="aviso">
        <div class="titulo">
            <h2>Aviso 2</h2>
        </div>
        <div class="paragrafo">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis vitae quo quidem magni nulla ipsa
                ullam
                neque nostrum, vero, quae animi velit, amet voluptatum nisi possimus fugiat natus eum sapiente.</p>
        </div>
    </div>
    <div class="aviso">
        <div class="titulo">
            <h2>Aviso 3</h2>
        </div>
        <div class="paragrafo">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis vitae quo quidem magni nulla ipsa
                ullam
                neque nostrum, vero, quae animi velit, amet voluptatum nisi possimus fugiat natus eum sapiente.</p>
        </div>
    </div>
    <div class="aviso">
        <div class="titulo">
            <h2>Aviso 4</h2>
        </div>
        <div class="paragrafo">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis vitae quo quidem magni nulla ipsa
                ullam
                neque nostrum, vero, quae animi velit, amet voluptatum nisi possimus fugiat natus eum sapiente.</p>
        </div>
    </div>
    <div class="aviso">
        <div class="titulo">
            <h2>Aviso 5</h2>
        </div>
        <div class="paragrafo">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis vitae quo quidem magni nulla ipsa
                ullam
                neque nostrum, vero, quae animi velit, amet voluptatum nisi possimus fugiat natus eum sapiente.</p>
        </div>
    </div>
    <div class="aviso">
        <div class="titulo">
            <h2>Aviso 6</h2>
        </div>
        <div class="paragrafo">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis vitae quo quidem magni nulla ipsa
                ullam
                neque nostrum, vero, quae animi velit, amet voluptatum nisi possimus fugiat natus eum sapiente.</p>
        </div>
    </div>
</app-aluno-layout>