<app-professor-layout>
    <div class="container">
        <div class="title">
            <h2>{{monitoria?.disciplina?.toUpperCase()}}</h2>
            <p>Curso: {{monitoria?.curso | curso}}</p>
            <p>Professor: {{monitoria?.professorNome}}</p>
            <p>Semestre: {{monitoria?.semestre}}</p>
            <p>Status: {{monitoria?.status| status}}</p>
        </div>
        <div class="monitoria-info">
            <div class="foto-perfil">
                <img src="{{monitoria?.fotoPerfil}}">
            </div>
            <ul>
                <li>Monitor: {{monitoria?.nome}}</li>
                <li>Email: {{monitoria?.email}}</li>
            </ul>
            <div class="historico-escolar">
                <button (click)="baixarHistorico(monitoria?.idHistoricoEscolar || 0)">Histórico Escolar</button>
                @if (monitoria?.idRelatorioMonitoria !== null) {
                    <button (click)="baixarHistorico(monitoria?.idRelatorioMonitoria || 0)">Relatório</button>
                }
            </div>
        </div>
        <div class="concluir">
        @if (monitoria?.status !== 'FINALIZADA') {
                <input class="arquivo" type="file" (change)="onFilechange($event); arquivoAdicionado=true" accept=".pdf">
                <button [disabled]="!arquivoAdicionado" (click)="this.upload(monitoria?.alunoId || 0, monitoria?.idRelatorioMonitoria || 0, monitoria?.monitoriaId || 0)">Concluir Monitoria</button>
            } @else {
                <h2>Monitoria Finalizada.</h2>
            }
        </div>
    </div>
</app-professor-layout>