<app-professor-layout>
    <div class="card-container">
        @for (candidato of candidatos$ | paginate: { itemsPerPage: 12, currentPage: paginaAtual, totalItems: totalElements }; track candidato) {
            <div class="card">
                <ul>
                    <li>Nome: {{candidato.nome}}</li>
                    <li>Email: {{candidato.email}}</li>
                    <li>Curso: {{candidato.curso | curso}}</li>
                    <li>Data da Solicitação: {{candidato.dataSolicitacao | date: "dd/MM/yyyy"}}</li>
                    <li>Status: {{candidato.statusCandidatura | status}}</li>
                </ul>
                @if (candidato.statusCandidatura !== "CANCELADO") {
                    <button (click)="handleAvaliarRedirect(idMonitoria, candidato.id)" class="avaliar">Avaliar</button>
                }
            </div>
        }
    </div>
    <div class="paginacao">
        <pagination-controls (pageChange)="pageChange($event)" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
    </div>
</app-professor-layout>